<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
</style>
</head>
<body>
    {{>header}}
    <div>
        <p>this website is created at 3 jully 2020
            it uses data from mapbox.com and weatherapi.com </p>
        <p>it is created from tutorial of the teacher Andrew Mead.</p>
    </div>
    {{>footer}}
</body>
</html>