<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
</style>
</head>
<body>
    {{>header}}
    <div>
        <p>Hey this is the about me page.</p>
    </div>
    {{>footer}}
</body>
</html>